rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    function isSuperAdmin() {
      // This function relies on the user having read access to their own document.
      return isSignedIn() && exists(/databases/$(database)/documents/users/$(request.auth.uid)) 
          && getUserData(request.auth.uid).role == 'superadmin';
    }
    
    function isOwner(userId) {
        return request.auth.uid == userId;
    }

    function isAssignedToBranch(branchId) {
      if (isSuperAdmin()) {
        return true;
      }
      
      let userDocData = getUserData(request.auth.uid);
      return isSignedIn() && 
             'assignedBranches' in userDocData && 
             branchId in userDocData.assignedBranches;
    }

    match /users/{userId} {
      // A user can create their own profile.
      allow create: if isCreatingOwnProfile(userId);
      // A user MUST be able to read their own document for isSuperAdmin() to work.
      allow get: if isOwner(userId);
      // Listing and updating is restricted to superadmins.
      allow list, update: if isSuperAdmin();
    }

    match /branches/{branchId} {
      allow list: if isSuperAdmin();
      allow get: if isAssignedToBranch(branchId);
      allow write: if isSuperAdmin();
    }

    match /incidents/{incidentId} {
      function getBranchIdForIncident() {
        return request.method == 'create' ? request.resource.data.branchId : resource.data.branchId;
      }

      allow get, write: if isAssignedToBranch(getBranchIdForIncident());

      allow list: if isSuperAdmin() || (
        isSignedIn() &&
        'branchId' in request.query.where &&
        isAssignedToBranch(request.query.where.branchId)
      );
    }

     match /app_settings/{settingId} {
        // Any signed-in user can read the settings (needed for forms), 
        // but only superadmins can write them.
        allow read: if isSignedIn();
        allow write: if isSuperAdmin();
     }
  }
}
